@font-face {
  font-family: LatoBlack;
  src: url("../../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LatoBold;
  src: url("../../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LatoHairline;
  src: url("../../fonts/Lato/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LatoLight;
  src: url("../../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LatoRegular;
  src: url("../../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* login page styles */
/* main page styles */
html, body {
  height: 100%; }

body {
  font-family: "LatoLight", sans-serif;
  font-size: 18px;
  color: #252525; }

a:hover {
  text-decoration: none; }

ul {
  padding: 0; }

header nav.navbar {
  min-height: 77px; }
  header nav.navbar .navbar-right li {
    display: inline-block;
    font-size: 16px;
    float: none; }
    header nav.navbar .navbar-right li a {
      padding-top: 27px;
      padding-bottom: 27px;
      color: #252525; }

main {
  height: auto;
  min-height: calc(100% - 97px);
  padding-bottom: 58px; }
  main .row {
    margin: 0 32px; }

section.intro h2 {
  font-family: "LatoRegular", sans-serif;
  font-size: 30px; }

section.intro h5 {
  font-size: 18px; }
  section.intro h5 span {
    font-family: "LatoRegular", sans-serif;
    color: #4dc01d; }

section.steps-navigation {
  margin: 25px 0 35px; }
  section.steps-navigation ul {
    width: 100%;
    height: 70px;
    position: relative; }
    section.steps-navigation ul li {
      display: inline-block;
      background-color: #424040;
      height: 70px;
      border-radius: 38px;
      border: 3px solid #fff;
      position: absolute;
      width: 25%;
      box-sizing: content-box; }
      section.steps-navigation ul li a {
        color: #fff;
        width: 100%;
        height: 100%;
        cursor: default;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      section.steps-navigation ul li.active {
        background-color: #4dc01d; }
      section.steps-navigation ul li.passed {
        cursor: pointer;
        background-image: url("../../images/completed_step.png");
        background-repeat: no-repeat; }

section.step {
  border: 2px solid #f6f6f6;
  width: 100%;
  border-radius: 5px;
  min-height: 415px;
  height: 415px;
  position: relative; }
  section.step .wrap {
    width: 100%;
    height: 100%; }
    section.step .wrap aside {
      background-color: #fafafa;
      height: 100%;
      width: 25%;
      float: left; }
      section.step .wrap aside ul {
        width: 100%;
        margin-bottom: 0; }
        section.step .wrap aside ul li {
          width: 100%;
          height: 70px;
          cursor: pointer;
          list-style-type: none;
          padding-left: 25px;
          border: 1px solid #f6f6f6;
          border-left: none;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          section.step .wrap aside ul li:first-child {
            border-top: none; }
          section.step .wrap aside ul li:last-child {
            border-bottom: none; }
          section.step .wrap aside ul li.active {
            background-color: #fff;
            color: #4dc01d;
            border-right: none; }
    section.step .wrap .content {
      float: right;
      width: 75%;
      height: 100%; }
      section.step .wrap .content .form-wrap {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        section.step .wrap .content .form-wrap .title {
          color: #4dc01d; }
          section.step .wrap .content .form-wrap .title span {
            font-family: "LatoRegular", sans-serif; }
        section.step .wrap .content .form-wrap .desc {
          max-width: 37%;
          text-align: center; }
        section.step .wrap .content .form-wrap .image {
          margin-bottom: 25px; }
      section.step .wrap .content ::-webkit-scrollbar {
        width: 12px; }
      section.step .wrap .content ::-webkit-scrollbar-track {
        background: #fafafa; }
      section.step .wrap .content ::-webkit-scrollbar-thumb {
        background: #4dc01d;
        border-radius: 3px; }

section.buttons {
  margin-top: 30px; }
  section.buttons .next i {
    margin-left: 13px; }
  section.buttons .prev i {
    margin-right: 13px; }
  section.buttons a, section.buttons a:hover {
    color: #4dc01d; }
    section.buttons a i, section.buttons a:hover i {
      width: 25px;
      height: 25px;
      color: #fff;
      font-size: 25px;
      border-radius: 50%;
      background-color: #4dc01d;
      text-align: center;
      position: relative;
      top: 2px; }

footer {
  width: 100%;
  position: relative;
  margin-top: -58px;
  height: 58px;
  clear: both;
  background-color: #464a4a;
  color: #fff;
  font-size: 16px; }
  footer .copyright {
    padding-top: 18px;
    padding-bottom: 18px; }
  footer ul.nav li {
    display: inline-block;
    float: none; }
    footer ul.nav li a {
      padding-top: 18px;
      padding-bottom: 18px; }
      footer ul.nav li a:hover {
        background-color: inherit; }
  footer a, footer a:hover {
    color: #fff; }

/*# sourceMappingURL=app.css.map */
